body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}
.header-area{
    padding:30px;
    width:90%;
    display: block;
    margin:0 auto;
    margin-top:2%;
    box-shadow: 10px 10px 40px grey;
}
.head h2{
    margin:0;
    text-align: center;
    color:white
}
.head{
    background-color: violet;
    width:20%;
    margin:0 auto;
    border-radius: 20px;
}
.head h1{
    text-align: center;
    font-size: 40px;
    margin:0;
    color:white;
}
.food-network{
    display: flex;
    margin-top:7%;
}
.diet{
    width:30%;
    margin-left:12%;
}
hr{
    border-top:4px solid;
}
.food-derlivery-img{
    width:23%;
    margin-left:9%;
}
.food-derlivery-img img{
    width:100%;
}
.skip-name{
    color:orange;
}
.diet h1{
    margin:0;
    color:darkgrey;
}
.diet a{
    text-decoration: none;
    background-image: linear-gradient(white,red);
    padding:10px 30px;
    color:black;
    border-radius:15px;
}
.diet p{
    margin-bottom: 8%;
}
.about-area{
    display: flex;
    margin-top:10%;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    width:90%;
    margin-left:12%;
}
.about-pic{
    width:25%;
    margin-left:10%;
}
.about-pic img{
    width:100%;
}
.about-me{
    width:30%;
    margin-left:7%;
}
.about-me a{
    text-decoration: none;
    background-image: linear-gradient(grey,green);
    padding:10px 30px;
    color:white;
    border-radius:15px;
}
.about-me h2{
    color:orchid;
}
.recipie {
    width:40%;
    display: block;
    margin:0 auto;
    margin-top:10%;
}
.recipie h2{
    text-align: center;
    color:purple
}
.recipie-title-area{
    display: flex;
    margin-top:7%;
    margin-left:10%;
}
.recipie-img{
    width:90%;
    margin:0 auto;
    margin-top:7%;
}
.recipie-img img{
    width:100%;
    border-radius:20px;
}
.recipe-title{
    width:20%;
    box-shadow: 10px 10px 40px grey;
    padding:0 10px;
    margin-left:4%;
    border-radius:20px;
}
.footer-area{
    background-color: black;
}
.food{
    color:orange;
}
.footer-area h2{
    color:red;
}
.footer-area p{
    color:white;
}
.footer-area{
    text-align: center;
    padding:30px 0;
    margin-top:5%;
}